body{
	background-color : #e0e0e0; 
	color: #000000;
	text-align:left;
	line-height:1.5;
}
h1{ font-style:right;
 font-weight:bold;
 font-size:xx-large;
 text-align:center;}
h2{ font-style:normal;
 font-weight:bold;
 font-size:x-large;
 text-align:center;}
h3{ font-style:normal;
 font-weight:normal;
 font-size:large;
 text-align:left;
 margin-left:10%;
 margin-right:10%;}
h3 span.date{
	font-size:small;
	font-weight:normal;
	color:#606060;
}
h4{ font-style:normal;
 font-weight:bold;
 font-size:normal;
 text-align:left;
 margin-left:10%;
 margin-right:10%;}
p{ text-align:left;
 text-indent:0ex;
 margin-left:10%;
 margin-right:10%;
font-size: normal
}
p.monolog{ 
	text-align:left;
	text-indent:1ex;
	margin-left:10%;
	margin-right:10%;
	font-size: 80%;
	font-style: italic
}
p.remark{
	text-align:left;
	text-indent:1ex;
	margin-left:10%;
	margin-right:10%;
	font-size: 90%;
	font-style: italic
}
p.pre{ 
	text-align:right;
	font-size: small;
	color: green;
}
p.update{
	text-align:center;
}
small{
	font-size:6pt;
}
blockquote{ font-style:italic;
 text-align:left;
 margin-left:20%;
 margin-right:20%;}
#margin{
	margin-left:20%;
	margin-right:20%;
}
span.passive{
	font-size:70%;
}
ul, dl{
margin-left:10%;
margin-right:10%;
}
table{
	background-color:#c0c0c0;
	border: 2px inset white;
	border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1em;
	margin-bottom: 1em;
}
td{
	border: 2px inset white;
}
th{
	background-color:green;
	text-align:left;
}
hr.half{
	text-align:center;
	width: 50%;
}